build
dist
Result
Debug/
__pycache__
.vs/
.idea/*
*.o
*.obj
*.tmp
*.txt
*.log
*.csv
*.rar
*.zip
*.xml
*.jpg
*.hex
*.elf
*.map
*.iml
*.xlsx
*.png
*.info
*.bak
*.rej

.vscode/launch.json
project/.vscode/launch.json
*.dump
PERCLOS_algo/
obj/
DATA_drink2/
db_demo_test.py
python_code_unava/
